# 글로벌
* @nogglee @codingguri @yundlab @taesongxxxx @chocofanta01

# 백엔드
/apps/api/ @taesongxxxx @chocofanta01

# 프론트엔드
/apps/web/ @nogglee @codingguri @yundlab

# 디자인 시스템
*.css @nogglee

# 인프라
/.github/workflows/ @nogglee @taesongxxxx
