@theme {
  --color-background: var(--color-gold-50);
  --color-surface: var(--color-base-white);
  --color-muted: var(--color-gray-100);
  --color-emphasis: var(--color-gray-700);
  --color-inverse: var(--color-gray-950);

  --color-border-subtle: var(--color-gray-200);
  --color-border: var(--color-gray-300);
  --color-border-strong: var(--color-gray-500);

  --color-foreground: var(--color-gray-900);
  --color-foreground-secondary: var(--color-gray-700);
  --color-foreground-tertiary: var(--color-gray-500);
  --color-foreground-disabled: var(--color-gray-300);
  --color-foreground-inverse: var(--color-base-white);

  --color-primary-subtle: var(--color-deep-green-100);
  --color-primary-lighter: var(--color-deep-green-300);
  --color-primary: var(--color-deep-green-700);
  --color-primary-darker: var(--color-deep-green-900);

  --color-secondary-subtle: var(--color-gold-100);
  --color-secondary-lighter: var(--color-gold-300);
  --color-secondary: var(--color-gold-600);
  --color-secondary-darker: var(--color-gold-800);

  --color-warning-subtle: var(--color-yellow-100);
  --color-warning-lighter: var(--color-yellow-200);
  --color-warning: var(--color-yellow-400);
  --color-warning-darker: var(--color-yellow-700);

  --color-danger-subtle: var(--color-red-100);
  --color-danger-lighter: var(--color-red-300);
  --color-danger: var(--color-red-500);
  --color-danger-darker: var(--color-red-700);

  --color-info-subtle: var(--color-blue-100);
  --color-info-lighter: var(--color-blue-300);
  --color-info: var(--color-blue-500);
  --color-info-darker: var(--color-blue-700);

  --color-success-subtle: var(--color-green-100);
  --color-success-lighter: var(--color-green-300);
  --color-success: var(--color-green-500);
  --color-success-darker: var(--color-green-700);
}
